body {
    background-image: linear-gradient(90deg, rgb(190, 147, 197), rgb(123, 198, 204));
}
 
.game {
    padding-top: 0.75em;
    padding-bottom: 1em;
    margin: 1em 1em 1em 1em;
}

.bluebie {
    color: red;
}

.pinkcolor {
    background-color: pink;
}

.yellowcolor {
    background-color: yellow;
}

.greencolor {
    background-color: green;
}

.bluecolor {
    background-color: blue;
}

.pass {
    text-align: center;
    color: green;
}

.fail {
    text-align: center;
    color: red;
}